<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'/landing'" slot="start"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Date:</ion-label>
    <ion-datetime (ionChange)="onSelectDate()" [(ngModel)]="plateService.date"
                  display-format="DD/MM/YYYY"></ion-datetime>
  </ion-item>

  <!-- Breakfast section -->
  <ion-card *ngIf="breakfastPlates && breakfastPlates.length > 0">
    <ion-card-header>
      <ion-card-title>Breakfast</ion-card-title>
    </ion-card-header>
    <ion-list>
      <ion-item *ngFor="let plate of breakfastPlates">
        <ion-label>{{ plate.label }}</ion-label>
      </ion-item>
    </ion-list>
  </ion-card>

  <!-- Lunch section -->
  <ion-card *ngIf="lunchPlates && lunchPlates.length > 0">
    <ion-card-header>
      <ion-card-title>Lunch</ion-card-title>
    </ion-card-header>
    <ion-list>
      <ion-item *ngFor="let plate of lunchPlates">
        <ion-label>{{ plate.label }}</ion-label>
      </ion-item>
    </ion-list>
  </ion-card>

  <!-- Dinner section -->
  <ion-card *ngIf="dinnerPlates && dinnerPlates.length > 0">
    <ion-card-header>
      <ion-card-title>Dinner</ion-card-title>
    </ion-card-header>
    <ion-list>
      <ion-item *ngFor="let plate of dinnerPlates">
        <ion-label>{{ plate.label }}</ion-label>
      </ion-item>
    </ion-list>
  </ion-card>

  <!-- Delete button if there are any plates -->
  <ion-button *ngIf="hasAnyPlates()" (click)="deletePlateForDay(plateService.date)" color="danger" expand="block">
    Delete all plates
    <ion-icon name="trash-bin-outline" slot="end"></ion-icon>
  </ion-button>

  <!-- Message if no plates exist -->
  <ion-card *ngIf="!hasAnyPlates()">
    <ion-card-content>
      <p>There is no plate for this date.</p>
    </ion-card-content>
  </ion-card>
</ion-content>

