<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-title size="large">{{ 'PLATES.MANAGE' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="toggleSelectionMode()">
        {{ isSelectionMode ? ('PLATES.CANCEL' | translate) : ('PLATES.SELECT' | translate) }}
      </ion-button>
      <ion-button *ngIf="isSelectionMode && selectedPlates.length > 0" (click)="presentBatchShareModal()">
        <ion-icon name="share"></ion-icon>
        ({{ selectedPlates.length }})
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list *ngFor="let plate of plateList">
    <ion-item (click)="isSelectionMode && togglePlateSelection(plate)">
      <ion-checkbox *ngIf="isSelectionMode" [checked]="isPlateSelected(plate.id)" slot="start"></ion-checkbox>
      {{ plate.label }}
      <ion-button *ngIf="!isSelectionMode" (click)="presentDetailEditPlateModal(plate)" fill="clear">
        {{ 'PLATES.EDIT' | translate }}
      </ion-button>
      <ion-button *ngIf="!isSelectionMode" (click)="presentSharePlateModal(plate)" fill="clear" color="primary">
        <ion-icon name="share"></ion-icon>
      </ion-button>
      <ion-button *ngIf="!isSelectionMode" (click)="deletePlate(plate)" fill="clear" color="danger">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
  <ion-fab horizontal="end" id="open-modal" slot="fixed" vertical="bottom">
    <ion-fab-button (click)="presentDetailAddPlateModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
