<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>{{ 'LANDING.TITLE' | translate }}</ion-title>
      <div slot="end" class="ion-padding-end user-info" *ngIf="userProfile">
        <ion-avatar class="user-avatar" *ngIf="userProfile.avatar">
          <img [src]="userProfile.avatar" alt="Avatar">
        </ion-avatar>
        <div class="user-details">
          <span class="user-name">{{ userProfile.name || ('LANDING.USER' | translate) }}</span>
          <small class="user-email">{{ userProfile.email }}</small>
        </div>
      </div>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding"> {{ 'LANDING.PLATES_FOR_WEEK' | translate }}
    <h2>{{ 'LANDING.PLATES_FOR_WEEK' | translate }}</h2>
    <ng-container *ngFor="let plate of plateForWeek">
      <ion-list>
        <ion-item>
          <div>
            <strong>{{ plate.date }}</strong><br>
            <span *ngFor="let singlePlate of plate.plates">{{ singlePlate }}, </span>
          </div>
        </ion-item>
      </ion-list>
    </ng-container>
  </ion-content>
</div>