<ion-header>
  <ion-toolbar>
    <ion-title>{{ isBatchMode ? ('SHARE_MODAL.SHARE_PLATES' | translate:{count: selectedPlates.length}) : ('SHARE_MODAL.SHARE_SINGLE' | translate:{label: plateLabel}) }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">{{ 'SHARE_MODAL.CLOSE' | translate }}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="share-options">
    <!-- Show selected plates -->
    <ion-card *ngIf="selectedPlates.length > 0">
      <ion-card-header>
        <ion-card-title>{{ 'SHARE_MODAL.SELECTED_PLATES' | translate:{count: selectedPlates.length} }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item *ngFor="let plate of selectedPlates">
            <ion-label>{{ plate.label }}</ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>

    <ion-item>
      <ion-label position="stacked">{{ 'SHARE_MODAL.SELECT_FAMILY_OPTIONAL' | translate }}</ion-label>
      <ion-select [(ngModel)]="selectedFamilyId" (ionChange)="onFamilyChange()" [placeholder]="'SHARE_MODAL.CHOOSE_FAMILY' | translate">
        <ion-select-option *ngFor="let family of families" [value]="family.id">
          {{ family.name }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="showUsersList">
      <ion-label position="stacked">{{ 'SHARE_MODAL.SELECT_USER' | translate }}</ion-label>
      <ion-select [(ngModel)]="selectedUserId" [placeholder]="'SHARE_MODAL.CHOOSE_USER' | translate">
        <ion-select-option *ngFor="let user of usersInFamily" [value]="user.id">
          {{ user.name || user.email }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button expand="block" (click)="sharePlate()" [disabled]="!selectedUserId || selectedPlates.length === 0">
      {{ isBatchMode ? ('SHARE_MODAL.SHARE_PLATES' | translate:{count: selectedPlates.length}) : ('SHARE_MODAL.SHARE_PLATE_BUTTON' | translate) }}
    </ion-button>
  </div>
</ion-content>
