<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button slot="end" [routerLink]="['reorder-food']">next</ion-button>
    <ion-back-button slot="start" default-href="menu"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Choose your foods</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list *ngFor="let food of foodList">
    <ion-item>
      <ion-checkbox labelPlacement="end"
                    justify="start"
                    (ionChange)="toggleFoodSelection(food)">
        {{food.label}}
      </ion-checkbox>
      <ion-chip [outline]="true"
                [routerLink]="['food-details',food.id]">
        details
      </ion-chip>
    </ion-item>
  </ion-list>
</ion-content>
