<ion-app>
  <ion-menu contentId="main-content" class="app-menu" side="start" type="overlay">
    <div class="menu-header">
      <div class="menu-brand">
        <div class="menu-logo-wrap">
          <img src="assets/images/logo.jpeg" alt="Logo" class="menu-logo">
        </div>
        <div class="menu-brand-text">
          <span class="menu-app-name">Atepla</span>
          <span class="menu-user-badge" *ngIf="userProfile">{{ userProfile.name || userProfile.email }}</span>
          <span class="menu-app-tagline" *ngIf="!userProfile">{{ 'APP.MENU_TITLE' | translate }}</span>
        </div>
      </div>
    </div>

    <ion-content class="menu-content">
      <nav class="menu-nav">
        <a class="menu-item" routerLink="/landing" (click)="closeMenu()" routerLinkActive="menu-item--active">
          <span class="menu-item__icon-wrap">
            <ion-icon name="home-outline" class="menu-item__icon"></ion-icon>
          </span>
          <span class="menu-item__label">{{ 'APP.HOME' | translate }}</span>
        </a>

        <a class="menu-item" routerLink="/choose-date" (click)="closeMenu()" routerLinkActive="menu-item--active">
          <span class="menu-item__icon-wrap">
            <ion-icon name="calendar-outline" class="menu-item__icon"></ion-icon>
          </span>
          <span class="menu-item__label">{{ 'APP.CREATE_DAY_LIST' | translate }}</span>
        </a>

        <a class="menu-item" routerLink="/plates-for-the-day" (click)="closeMenu()" routerLinkActive="menu-item--active">
          <span class="menu-item__icon-wrap">
            <ion-icon name="restaurant-outline" class="menu-item__icon"></ion-icon>
          </span>
          <span class="menu-item__label">{{ 'APP.PLATE_FOR_DAY' | translate }}</span>
        </a>

        <a class="menu-item" routerLink="/manage-plates" (click)="closeMenu()" routerLinkActive="menu-item--active">
          <span class="menu-item__icon-wrap">
            <ion-icon name="fast-food-outline" class="menu-item__icon"></ion-icon>
          </span>
          <span class="menu-item__label">{{ 'APP.MANAGE_PLATES' | translate }}</span>
        </a>

        <a class="menu-item" routerLink="/family" (click)="closeMenu()" routerLinkActive="menu-item--active">
          <span class="menu-item__icon-wrap">
            <ion-icon name="people-outline" class="menu-item__icon"></ion-icon>
          </span>
          <span class="menu-item__label">{{ 'APP.MANAGE_FAMILIES' | translate }}</span>
        </a>

        <a class="menu-item" routerLink="/shared-plates" (click)="closeMenu()" routerLinkActive="menu-item--active">
          <span class="menu-item__icon-wrap">
            <ion-icon name="share-social-outline" class="menu-item__icon"></ion-icon>
          </span>
          <span class="menu-item__label">{{ 'APP.VIEW_SHARED_PLATES' | translate }}</span>
        </a>

        <a class="menu-item" routerLink="/grocery-list" (click)="closeMenu()" routerLinkActive="menu-item--active">
          <span class="menu-item__icon-wrap">
            <ion-icon name="cart-outline" class="menu-item__icon"></ion-icon>
          </span>
          <span class="menu-item__label">{{ 'APP.GROCERY_LIST' | translate }}</span>
        </a>

        <a class="menu-item" routerLink="/settings" (click)="closeMenu()" routerLinkActive="menu-item--active">
          <span class="menu-item__icon-wrap">
            <ion-icon name="settings-outline" class="menu-item__icon"></ion-icon>
          </span>
          <span class="menu-item__label">{{ 'APP.SETTINGS' | translate }}</span>
        </a>

        <a class="menu-item" routerLink="/subscription" (click)="closeMenu()" routerLinkActive="menu-item--active">
          <span class="menu-item__icon-wrap">
            <ion-icon name="diamond-outline" class="menu-item__icon"></ion-icon>
          </span>
          <span class="menu-item__label">{{ 'SUBSCRIPTION.TITLE' | translate }}</span>
        </a>

        <a class="menu-item" routerLink="/help" (click)="closeMenu()" routerLinkActive="menu-item--active">
          <span class="menu-item__icon-wrap">
            <ion-icon name="help-circle-outline" class="menu-item__icon"></ion-icon>
          </span>
          <span class="menu-item__label">{{ 'APP.HELP' | translate }}</span>
        </a>
      </nav>
    </ion-content>

    <div class="menu-footer">
      <button class="logout-btn" (click)="logout()">
        <ion-icon name="log-out-outline" class="logout-btn__icon"></ion-icon>
        <span class="logout-btn__label">{{ 'APP.LOGOUT' | translate }}</span>
      </button>
    </div>
  </ion-menu>

  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
