<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Add your food</ion-title>
    </ion-toolbar>
  </ion-header>
  <form [formGroup]="foodForm">
    <ion-item>
      <label for="foodName">Food name: </label>
      <input id="foodName"
             maxlength="20"
             type="text"
             formControlName="foodName">
    </ion-item>
    <ion-item>
      <label for="foodDescription">Food description: </label>
      <input id="foodDescription"
             maxlength="20"
             type="text"
             formControlName="foodDescription">
    </ion-item>
  </form>
  <ion-button>take a picture</ion-button>
  <br/>
  <ion-button id="open-toast"
              (click)="createFood()">Save</ion-button>
  <ion-toast trigger="open-toast"
             message="Food is added!"
             [duration]="2000">
  </ion-toast>
</ion-content>

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
