<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Reorder your food</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Casting $event to $any is a temporary fix for this bug https://github.com/ionic-team/ionic-framework/issues/24245 -->
  <ion-reorder-group [disabled]="isDisabled" (ionItemReorder)="handleReorder($any($event))">
    <ion-list *ngFor="let food of foods">
      <ion-item>
        <ion-label> {{food.label}}</ion-label>
        <ion-reorder slot="end"></ion-reorder>
      </ion-item>
    </ion-list>
  </ion-reorder-group>


  <!-- The reorder gesture is disabled by default, enable it to drag and drop items -->
  <ion-button (click)="toggleReorder()"> Toggle Reorder</ion-button>
</ion-content>
