<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button (click)="linkPlateListToDate()" [routerLink]="['']" id="open-toast" slot="end">save</ion-button>
    <ion-back-button default-href="menu" slot="start"></ion-back-button>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Choose your plates</ion-title>
    </ion-toolbar>
    <ion-segment (ionChange)="onSegmentChange($event)" value="all">
      <ion-segment-button value="all">
        <ion-label>All</ion-label>
      </ion-segment-button>
      <ion-segment-button value="breakfast">
        <ion-label>Breakfast</ion-label>
      </ion-segment-button>
      <ion-segment-button value="lunch">
        <ion-label>Lunch</ion-label>
      </ion-segment-button>
      <ion-segment-button value="dinner">
        <ion-label>Dinner</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-header>

  <ion-list *ngFor="let plate of filteredPlateList">
    <ion-item>
      <ion-checkbox (ionChange)="togglePlateSelection(plate)"
                    justify="start"
                    labelPlacement="end">
        {{ plate.label }}
        <ion-button [routerLink]="['plate-details-page',plate.id]">
          details
        </ion-button>
      </ion-checkbox>
    </ion-item>
  </ion-list>

  <ion-fab (click)="presentCreatePlateModal()" horizontal="end" slot="fixed" vertical="bottom">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-toast [duration]="2000"
             message="Your week list is saved!"
             trigger="open-toast">
  </ion-toast>
</ion-content>
