<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/landing"></ion-back-button>
    </ion-buttons>
    <ion-title class="page-title">{{ 'GROCERY_LIST.TITLE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size-md="8" offset-md="2" size-lg="6" offset-lg="3">
        <!-- Week navigation -->
        <ion-grid>
          <ion-row class="ion-align-items-center">
            <ion-col size="3">
              <ion-button fill="clear" [disabled]="!canGoPreviousWeek" (click)="onWeekChange('prev')">
                <ion-icon name="chevron-back" slot="icon-only"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col size="6" class="ion-text-center">
              <ion-label>{{ 'GROCERY_LIST.WEEK_OF' | translate: { date: weekLabel } }}</ion-label>
            </ion-col>
            <ion-col size="3" class="ion-text-end">
              <ion-button fill="clear" [disabled]="!canGoNextWeek" (click)="onWeekChange('next')">
                <ion-icon name="chevron-forward" slot="icon-only"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-spinner *ngIf="loading" name="crescent" class="ion-padding"></ion-spinner>

        <!-- My Manual List -->
        <ion-list *ngIf="!loading && hasManualItems; else emptyList">
          <ion-item-sliding *ngFor="let item of manualItems">
            <ion-item>
              <ion-checkbox
                [checked]="item.checked"
                (ionChange)="toggleManualItem(item)"
                slot="start">
              </ion-checkbox>
              <ion-label [class.line-through]="item.checked" [class.checked-item]="item.checked">
                <span *ngIf="item.quantity">{{ item.quantity }}</span>
                <span *ngIf="item.unit">{{ item.unit }}</span>
                <span *ngIf="item.quantity || item.unit"> - </span>
                {{ item.name }}
              </ion-label>
              <ion-button fill="clear" size="small" (click)="editManualItem(item)">
                <ion-icon name="create-outline" slot="icon-only"></ion-icon>
              </ion-button>
            </ion-item>
            <ion-item-options side="end">
              <ion-item-option color="danger" (click)="deleteManualItem(item)">
                <ion-icon name="trash-outline" slot="icon-only"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>

        <ng-template #emptyList>
          <ion-card *ngIf="!loading">
            <ion-card-content>
              <p class="ion-text-center">Ta liste d'épicerie est vide pour cette semaine.</p>
            </ion-card-content>
          </ion-card>
        </ng-template>

        <!-- Inline Add Form -->
        <ion-card class="ion-margin-top">
          <ion-card-header>
            <ion-card-title>Ajouter des articles</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <div class="ingredients-list" *ngIf="newIngredients.length > 0">
              <div class="ingredient-row" *ngFor="let ingredient of newIngredients; let i = index">
                <div class="ingredient-row__num">{{ i + 1 }}</div>
                <input [(ngModel)]="ingredient.name" class="ingredient-input ingredient-input--name" placeholder="Nom" type="text">
                <input [(ngModel)]="ingredient.quantity" class="ingredient-input ingredient-input--qty" placeholder="Qté" type="text">
                <input [(ngModel)]="ingredient.unit" class="ingredient-input ingredient-input--unit" placeholder="Unité" type="text">
                <button class="ingredient-delete" (click)="removeIngredientRow(i)" title="Retirer">
                  <ion-icon name="trash-outline"></ion-icon>
                </button>
              </div>
            </div>

            <div class="ingredients-empty" *ngIf="newIngredients.length === 0">
              <ion-icon name="flask-outline" class="ingredients-empty__icon"></ion-icon>
              <p class="ingredients-empty__text">Aucun article pour le moment</p>
            </div>

            <button class="add-ingredient-btn" (click)="addIngredientRow()">
              <ion-icon name="add-circle-outline" class="add-ingredient-btn__icon"></ion-icon>
              <span>Ajouter un article</span>
            </button>

            <ion-button (click)="saveNewIngredients()" expand="block" shape="round" class="ion-margin-top">
              <ion-icon name="save-outline" slot="start"></ion-icon>
              Enregistrer
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
