<ion-header [translucent]="true" class="modern-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]="'SHARED_PLATES.BACK' | translate" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'SHARED_PLATES.TITLE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="shared-plates-page-content">
  <div class="shared-plates-shell">
    <app-shared-plates-list></app-shared-plates-list>
  </div>
</ion-content>
