<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'REGISTER.TITLE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="onSubmit()" [formGroup]="registerForm">
    <ion-item>
      <ion-label position="floating">{{ 'REGISTER.EMAIL' | translate }}</ion-label>
      <ion-input formControlName="email" type="email"></ion-input>
    </ion-item>

    <div *ngIf="registerForm.get('email').invalid && registerForm.get('email').touched">
      <p>{{ 'REGISTER.EMAIL_REQUIRED' | translate }}</p>
    </div>

    <ion-item>
      <ion-label position="floating">{{ 'REGISTER.PASSWORD' | translate }}</ion-label>
      <ion-input formControlName="password" type="password"></ion-input>
    </ion-item>

    <div *ngIf="registerForm.get('password').invalid && registerForm.get('password').touched">
      <p>{{ 'REGISTER.PASSWORD_REQUIREMENTS' | translate }}</p>
    </div>

    <ion-item>
      <ion-label position="floating">{{ 'REGISTER.CONFIRM_PASSWORD' | translate }}</ion-label>
      <ion-input formControlName="confirmPassword" type="password"></ion-input>
    </ion-item>

    <div *ngIf="registerForm.hasError('mismatch') && registerForm.get('confirmPassword').touched">
      <p>{{ 'REGISTER.PASSWORD_MISMATCH' | translate }}</p>
    </div>

    <ion-button [disabled]="registerForm.invalid" expand="full" type="submit">{{ 'REGISTER.SUBMIT' | translate }}</ion-button>
  </form>
</ion-content>